*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

.container{
    box-shadow: 10px 10px 40px 10px teal;
    margin-top: 40px;
    border-radius: 10px;
    padding: 30px;
}

header{
    margin-top: 40px;
}


.input-resp{
    position: relative;
    margin: 20px 0;
    margin-top: 40px;
}

.input-resp label{
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
}

.input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(200,200,200);
    padding: 5px;
    font-size: 17px;
    outline: none;
    
}

form .input-resp .input:focus ~ label,
form .input-resp .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
}

button{
    margin-top: 10px;
    background-color: teal;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.container-fluid{
    margin-top: 50px;
}

button a {
    text-decoration: none;
}